.book-card {
    display: grid;
    place-items: start center;
    padding-block: 1em;
    border-radius: 1em;
    margin-block-end: 25px;
    color:  var(--gray2);
    /* border: 0.5px solid var(--clr2); */
}

.book-card .book-preview {
    width: 100%;
}

.book-card .book-preview img{
    min-width: 100%;
}

.book-card h2 {
    font-family: "Lora", serif;
    font-size: 1.7rem;
    text-transform:capitalize;
    color:  var(--gray3);
}

.book-card:hover .price-and-rating{
    display: block;
}

.book-card:hover .title-and-author{
    display: none;
}
